.banner-area {
    background: url('../images/lerichelais.jpg');
    background-size: cover;
    font-family: "Graduate";
    padding: 3em;
    height : 550px;
    display: grid;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
}
.banner-area .overlay-bg {
    background-color: rgba(0, 0, 0, 0.2);
}
