{% extends 'base.html.twig' %}

{% block body %}
<!-- start banner Area -->
     <section class="image">
        <img src="{{ asset('assets/images/lerichelais.jpg') }}" title="my image" alt="My image">
     </section>

 {% endblock %}
