{% extends 'base.html.twig' %}

{% block body %}
<!-- start banner Area -->
   <div class="title">
      <h2>Bienvenue au Richelais foot</h2>
  
      <section class="image">
        <img src="https://images.lanouvellerepublique.fr/image/upload/5d9a8c9e210fa9846b8b45cb.jpg">
      </section>
    </div>

    <section class="president">
      
      <div class="media">
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7m-sYY77j78qyWCIqSVl80sm812v4lVQftQ&usqp=CAU" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
               Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-3">
               <a class="mr-3" href="#">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7m-sYY77j78qyWCIqSVl80sm812v4lVQftQ&usqp=CAU" class="mr-3" alt="...">
                </a>
                <div class="media-body">
                  <h5 class="mt-0">Media heading</h5>
                     Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
               </div>
            </div>
         </div>
      </div>
   </section>
 {% endblock %}
